.root {
    -fx-base: #443823;
    -fx-accent: #f6d35b;
    -fx-focus-color: #f6d35b;
    -fx-pressed-base: #f6d35b;
    -fx-text-box-border: #ffd993;
    -fx-control-inner-background: #443823;
    -fx-shadow-highlight-color: #ffd993;
    -fx-body-color: #443823;
    -fx-text-fill: white;
    -fx-mark-highlight-color: #ffd993;
    -fx-mark-color: #ffd993;
    /* will be overriden to 1em on runtime */
    -fx-font-size: 1em;
    -fx-font-family: 'Marcellus';
}

.tooltip {
    -fx-wrap-text: true;
    -fx-show-duration: 8000ms;
}

.scroll-bar:horizontal > .thumb,
.scroll-bar:vertical > .thumb {
        -fx-background: -fx-accent;
        -fx-color: -fx-accent;
}
.scroll-bar:vertical > .increment-button > .increment-arrow {
    -fx-background-color: #ffd993;
}

.scroll-bar:horizontal > .decrement-button > .decrement-arrow {
    -fx-background-color: #ffd993;
}

/* button */
.tq-button .text {
    -fx-effect: dropshadow( one-pass-box , black , 0, 0.0 , 0 , 2 );
	-fx-font-family: 'Marcellus';
}

.tq-button {
	-fx-background-image: url('bg-button.png');
	-fx-background-size: stretch;
	-fx-background-color:transparent;
	-fx-font-weight: bold;
	-fx-font-family: 'Marcellus';
	-fx-font-size: 1.5em;
	-fx-text-fill: #ffffff;
}

.tq-menubutton .text {
    -fx-effect: dropshadow( one-pass-box , black , 0, 0.0 , 0 , 2 );
	-fx-font-family: 'Marcellus';
}

.tq-menubutton .context-menu .menu-item:hover:disabled{
    -fx-cursor: default;
}

.tq-menubutton .context-menu .menu-item:hover {
    -fx-cursor: hand;
}

.tq-menubutton .context-menu .menu-item .text {
    -fx-effect: none;
}

.tq-menubutton .context-menu .menu-item .text:hover{
    -fx-effect: none;
}

.tq-menubutton .menu-item .label {
    -fx-effect: none;
}

.tq-menubutton .label {
	-fx-font-size: 1.5em;
}
.tq-menubutton {
	-fx-background-image: url('bg-button.png');
	-fx-background-size: stretch;
	-fx-background-color:transparent;
	-fx-font-weight: bold;
	-fx-font-family: 'Marcellus';
	-fx-text-fill: #ffffff;
}

.tq-menubutton > .arrow-button > .arrow {
    -fx-effect: dropshadow( one-pass-box , black , 0, 0.0 , 0 , 2 );
    -fx-mark-color: #ffffff;
}

.tq-menubutton .label:pressed {
    -fx-text-fill: #ffffff;

}
.tq-menubutton:pressed,
.tq-button:pressed {
	-fx-background-image: url('bg-button_pressed.png');
	-fx-background-size: stretch;
	-fx-background-color:transparent;
}

/* window decoration */
.tq-title-label {
	-fx-text-fill: #000000;
	// px, do not scale
	-fx-font-size: 12px;
	-fx-font-family: sans-serif;
	-fx-background-image: url('topbar_center.png');
	-fx-background-repeat: no-repeat;

}

.tq-bigtitle:hover {
    -fx-cursor: hand;
    -fx-text-fill: #ffffff;
}

.tq-bigtitle {
    -fx-font-size: 3.4em;
    -fx-text-alignment: left;
    -fx-font-family: 'Marcellus';
    -fx-font-weight: bold;
    -fx-text-fill: #ffd993;
    -fx-effect: dropshadow( one-pass-box , black , 5, 5.0 , 5 , 5 );
}

.tq-winclose {
	-fx-background-image: url('close.png');
	-fx-background-size: stretch;
	-fx-background-color:transparent;
}

.tq-winclose:pressed {
	-fx-background-image: url('close_pressed.png');
	-fx-background-size: stretch;
	-fx-background-color:transparent;
}

.bg-container {
	-fx-background-image: url('window_bg.png');
	-fx-background-size: cover;
	-fx-background-repeat: no-repeat;
}

.tq-topdecoration {
    -fx-background-image: url('topdecoration.png');
}


.decoleft {
    -fx-background-image: url('decoleft.png');
}

.decoright {
    -fx-background-image: url('decoright.png');
}

.topregionleft {
    -fx-background-image: url('topbar_region.png');
    -fx-background-repeat: repeat-x;
}

.topregionright {
    -fx-background-image: url('topbar_region.png');
    -fx-background-repeat: repeat-x;
}

.borderpane {
    -fx-border-image-source: url('border.png');
    -fx-border-image-insets: 0;
    -fx-border-image-repeat: repeat-x;
    -fx-border-image-width: 4 4 4 4;
    -fx-border-image-slice: 4 4 4 4;
}
/* ******* */

.vertical-separator .line {
    -fx-border-image-source: url('sv.png');
    -fx-border-width: 1;
    -fx-border-image-width: 0 0 0 1;
    -fx-border-image-slice: 0 0 0 1;
    -fx-border-image-insets: 0;
    -fx-effect: dropshadow( one-pass-box , black , 0, 0.0 , 1 , 0 );
}

.horizontal-separator .line {
    -fx-border-image-source: url('sv.png');
    -fx-border-width: 1;
    -fx-border-image-width: 0 0 1 0;
    -fx-border-image-slice: 0 0 1 0;
    -fx-border-image-insets: 0;
    -fx-effect: dropshadow( one-pass-box , black , 0, 0.0 , 0 , 1 );
}

.combo-box:hover {
        -fx-background: -fx-accent;
        -fx-background-color: -fx-selection-bar;
        -fx-text-fill: -fx-selection-bar-text;
}

.combo-box {
    -fx-cursor: hand;
}

.combo-box .arrow {
    -fx-background-color: #ffd993 ;
}
.combo-box .arrow-button{
    -fx-background-color: #443823;
}

.combo-box:showing > .arrow-button {
    -fx-color: #ffd993;
}

.combo-box:hover > .arrow-button > .arrow {
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-background-color: #f6f0d0;
}

.combo-box .combo-box-popup .list-view .list-cell:hover {
    -fx-background-color: -fx-accent;
    -fx-text-fill: #000000;
    -fx-cursor: hand;
}

.combo-box .list-cell{
    -fx-background-color: #443823;
    -fx-text-fill: #ffffff;
}

.tq-charactercombo {
	-fx-font-size: 1.3em;
}

.tq-charactercombo .list-cell{
	-fx-font-size: 1.2em;
}

.tq-gendercombo {
	-fx-font-size: 1.3em;
}

.tq-gendercombo .list-cell{
	-fx-font-size: 1.2em;
}
/************/

.tq-icon-defaultstyle-fa {
    -fx-font-style: normal;
    -fx-font-weight: 900;
    -fx-fill: #FFFFFF;
    -fx-effect: dropshadow( one-pass-box , black , 0, 0.0 , 0 , 2 );
}

.tq-resetbutton {
    -fx-cursor: hand;
    -fx-background: none;
    -fx-border-width: 0;
    -fx-background-image: none;
    -fx-background-color:transparent;
}

.tq-resetbutton > .tq-icon-graphic {
    -fx-fill: #f6d35b;
}

.tq-resetbutton:pressed > .tq-icon-graphic {
    -fx-fill: #000000;
    -fx-background-color:red;
    -fx-effect: none;
}

.tq-charactersbutton {
    -fx-cursor: hand;
    -fx-background: none;
    -fx-border-width: 0;
    -fx-background-image: none;
    -fx-background-color:transparent;
}

.tq-charactersbutton > .tq-icon-graphic {
    -fx-fill: #f6d35b;
}

.tq-charactersbutton:pressed > .tq-icon-graphic {
    -fx-fill: #000000;
    -fx-background-color:red;
    -fx-effect: none;
}

.tq-labelradio,
.tq-label {
	-fx-font-size: 1.4em;
	-fx-font-family: 'Marcellus';
}

.tq-labelradio .text,
.tq-label .text {
	-fx-text-fill: #ffffff;
    -fx-effect: dropshadow( one-pass-box , black , 0, 0.0 , 0 , 2 );
    -fx-text-alignment: right;
}

.tq-textfield {
    -fx-background-color: #443823;
    -fx-font-family: 'Marcellus';
    -fx-text-fill: #ffffff;
    -fx-prompt-text-fill: #9e8760;
    -fx-font-size: 1.4em
}

.tq-labelbox {
    -fx-background-color: #443823;
    -fx-font-family: 'Marcellus';
    -fx-text-fill: #ffffff;
    -fx-font-size: 1.4em;
    -fx-background-radius: 4;
}


/*****spinner********/
.spinner {
    -fx-font-family: 'Marcellus';
  	-fx-font-size: 1.4em;
}
.spinner .increment-arrow-button .increment-arrow {
    -fx-background-color: #ffd993;
}
.spinner .decrement-arrow-button .decrement-arrow {
    -fx-background-color: #ffd993;
}

.spinner .increment-arrow-button {
    -fx-background-color: #443823;
}
.spinner .decrement-arrow-button {
    -fx-background-color: #443823;
}

.spinner:focused,
.spinner:contains-focus,
.spinner > .text-field {
    -fx-text-fill: #f6d35b;
}

.spinner > .text-field {
    -fx-background-color: #443823;
}

.spinner:focused,
.spinner:contains-focus {
    -fx-border-color: #f6d35b;

}
/*****/

.tq-versioncheck:hover {
    -fx-text-fill: #ffffff;
}
.tq-versioncheck {
    -fx-font-family: sans-serif;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-border-width: 0;
    -fx-underline: false;
    -fx-text-fill: #f6d35b;
}

.tq-versioncheck:visited {
    -fx-font-family: sans-serif;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-border-width: 0;
    -fx-underline: false;
    -fx-text-fill: #f6d35b;
}

.tq-tabpane .tab-header-area .headers-region {
    visibility: visible;
}
.tq-tabpane .tab-header-area .headers-region {
}
.tq-tabpane .tab-header-area .tab-header-background {
    -fx-background-color: transparent;
}

.tq-tabpane .tab-content-area {
    -fx-border-image-source: url('border.png');
    -fx-border-image-insets: 0;
    -fx-border-image-repeat: stretch;
    -fx-border-image-width: 2 2 2 2;
    -fx-border-image-slice: 2 2 2 2;
}

.tq-tabpane .control-buttons-tab {
}
.tq-tabpane .tab-header-area .tab-label {
    -fx-pref-height: 30px;
    -fx-min-height: 30px;
    -fx-max-height: 30px;
}
.tq-tabpane .tab-header-area {
    -fx-font-size: 22px;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-color: transparent;
}

.tq-tabbutton {
	-fx-font-family: 'Marcellus';
	-fx-font-size: 0.7em;
    -fx-border-image-source: url('border.png');
    -fx-border-image-insets: 0;
    -fx-background-insets: 0;
    -fx-border-image-repeat: stretch;
    -fx-border-image-width: 3 3 0 3;
    -fx-border-image-slice: 3 3 0 3;

}

.tq-tabbutton:selected {
        -fx-border-image-width: 3 3 0 3;
        -fx-border-image-slice: 3 3 0 3;
}

.tab-pane {
    -fx-tab-max-height: 48px ;
}

//skill tab
.tq-listview-skill > label {
 	-fx-text-fill: #ffffff;
}

.tq-listview-skill .list-cell {
    -fx-background-insets: 0;
}

.tq-label-skillpoints {
	-fx-text-fill: #ffffff;
	-fx-font-size: 1.4em;
	-fx-font-family: 'Marcellus';
    -fx-effect: dropshadow( one-pass-box , black , 0, 0.0 , 0 , 2 );
    -fx-text-alignment: center;
}

.tq-toast-header {
	-fx-text-fill: #ffffff;
	-fx-font-size: 1.6em;
	-fx-font-family: sans-serif;
	-fx-font-weight: bold;
    -fx-text-alignment: center;
    -fx-border-width: 1px;

}

.tq-toast-content {
	-fx-text-fill: #ffffff;
	-fx-font-size: 1.2em;
	-fx-font-family: sans-serif;
	-fx-font-weight: bold;
    -fx-text-alignment: left;

}
